---
language: ruby
matrix:
    jobs:
        - sudo: required
          group: edge
          virt: lxd
          dist: bionic
          arch: arm64-graviton2
          rvm:
          - 2.5.8
          - 2.5.6
rvm:
- 2.5.8
- 2.6.6
cache: bundler
env:
  global:
  - RUBY_GC_HEAP_GROWTH_MAX_SLOTS=300000
  - RUBY_GC_HEAP_INIT_SLOTS=600000
  - RUBY_GC_HEAP_GROWTH_FACTOR=1.25
  - PARALLEL_TEST_PROCESSORS=2
  matrix:
  - TEST_SUITE=vmdb PARALLEL=true
  - TEST_SUITE=brakeman
addons:
  postgresql: '10'
before_install:
- source ${TRAVIS_BUILD_DIR}/tools/ci/before_install.sh
before_script:
- bundle exec rake test:$TEST_SUITE:setup
script:
- bundle exec rake test:$TEST_SUITE
after_failure:
- source ${TRAVIS_BUILD_DIR}/tools/ci/after_failure.sh
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/7af45001fe6b7a4039f2
    on_success: change
    on_failure: always
    on_start: never
